<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h2>Share a News Story</h2>
      <h4>Add your link and start the discussion of today's current topics!</h4>

      <table class="table">
        <thead>
          <tr>
            <th>Votes</th>
            <th>User</th>
            <th>Title</th>
            <th>Link</th>
            <th>Visit</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @links.each do |link| %>
            <tr>
              <td><%= link.votes_for.up.size %></td>
              <td><%= link.user.username %></td>
              <td><%= link.title %></td>
              <td><%= link.url %></td>
              <td><%= link_to 'Show', link %></td>
              
              <% if user_signed_in? %>
              <% if current_user.voted_up_on? link %>
                <td><%= link_to 'Unvote', unvote_link_path(link), method: :delete %></td>
              <% else %>
                <td><%= link_to 'Vote', vote_link_path(link), method: :post %></td>
              <% end %>
              <% end %>
              
              <% if link.user == current_user %>
                <td><%= link_to 'Edit', edit_link_path(link) %></td>
                <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      
        <%= link_to 'New Link', new_link_path, class: "btn btn-primary" %>
    </div>
  </div>
</div> <!-- container -->
